body{

    font: 15px/1.5 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}
ul{
    margin: 0;
    padding: 0;
}

.button1{
    height: 30px;
    background: rgb(28, 113, 240);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.button1:hover{
    background: grey;
    color: white;
    font-weight: bold;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: black;
    background:url(img/head.png);
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(85, 5, 74) 4px solid;
    background-position-x: 80px;
}
header a{
    color: snow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header nav{
    float:right;
    margin-top: 10px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header .highlight, header .current a{
    color: yellow;
}

header a:hover{
    color: white;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background:url(img/ags.png);
    text-align: center;
    background-position-y: -80px;
    background-position-x: -100px;
    
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
    color: white;
}
#showcase p{
    font-size: 20px;
    color: white;
}
#newsletter{
    padding: 15px;
    color: white;
    background: rgb(85, 5, 74);
}
#newsletter h3{
    float: left;
}
#newsletter form{
    float: right;
    margin-top:15px; 
}
#newsletter input[type="email"]{
     padding:4px;
     height: 25px;
     width: 250px; 
}
#boxes{
    margin-top: 20px;
}
#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding:10px;
}
footer{
       background: rgb(28, 113, 240);
       color: white;
       text-align: center;
       margin-top:50px;
       padding: 20px;  
}

@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h3,
    #newsletter form,
    #boxes .box{
        float:none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top:40px;
    }
    #newsletter button{
        display:block;
        width: 100%;
    }
    #newsletter form input[type="email"]{
        width:100%;
        margin-bottom:5px; 
    }
}